table{
    border:5px solid double black;
    border-style:double;
    margin-top:5px;
    width:50%;
    height:25%;
    border-collapse: collapse;
    padding:8px;
   
}

th, td {
  border: 2px solid double black; 
  border-style:double;
  padding:10px;
  color:black;

}

