table{
    border:1px solid black;
    margin-top:20px;
    width:50%;
    height:25%;
    border-collapse: collapse;
    padding:5px;
}

th, td {
  border: 1px solid black; 
  padding:10px;
  color:grey;

}

button{
    margin-bottom: 10px;
}
